html, body {
    width: 100%;
    height: 100vh;
    padding: 0;
    background-color: whitesmoke;
}

/* upper & lower layers */
.parent {
    display: flex;
    flex-direction: row;
}

.upper {
    height: 30vh;
}

.lower {
    height: 70vh;
}

/* blocks */
.block {
    margin: 5px;
    background-color: white;
}

.setting {
    width: 50%;
}

.display {
    width: 33.33%;
}

/* dataset */
.leftPad {
    padding-left: 50px;
}

#dataset {
    width: 60%;
}

/* diagram */
#diy, #airindex {
    width: 100%;
    height: 100%;
}

rect {
    width: 70%;
    x: 15%;
    height: 5%;
    stroke-width: 2px;
    fill: white;
}

text {
    font-size: 12px;
    fill: black;
    text-anchor: middle;
    text-align: center;
    dominant-baseline: central;
}

line {
    stroke: black;
}
